{% extends 'base.html.twig' %}

{% block title %}Hello Step3Controller!{% endblock %}

{% block body %}
  <div class="card card4">
                 <div class="border">
                     <h2>Apple Music ou Spotify</h2>
                     <h3>Bibliothèques, Playlist, Song, Album</h3>
                     <div class="icon">

                     </div>
                 </div>
             </div>
{% endblock %}
