{% extends 'base.html.twig' %}

{% block title %}Étape 2 {% endblock %}

{% block body %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nom de la playlist</th>
   
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Artiste</td>
      <td>Nom de la musique</td>
      <td>durée de la musique</td>
    </tr>
    <tr>
      <th scope="row">2</th>
        <td>Artiste</td>
      <td>Nom de la musique</td>
      <td>durée de la musique</td>
    </tr>
    <tr>
      <th scope="row">3</th>
        <td>Artiste</td>
      <td>Nom de la musique</td>
      <td>durée de la musique</td>
    </tr>
  </tbody>
</table>

{% endblock %}
